@CHARSET "UTF-8";

.filesTable {
	width: 98%;
	border: 1px solid #000080;
	padding: 5px;
	border-radius: 5px;
}

.filesTable td {
	background-color: white;
	
}

.filesTable th {
	background-color: #000080;
	border-radius: 5px;
}

#filesTableHead {
	color: white;
}

.tableButton {
	height: 25px;
	width: 80px;
	margin-left: auto;
	margin-right: auto;
	background-color: #000080;
	color: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	font-weight: bolder;
	text-align: center;
	line-height: 25px;
	vertical-align: middle;
}

.tableButton:HOVER {
	background-color: #0000af;
	cursor: pointer;
}