@CHARSET "UTF-8";

.filesTable {
	width: 100%;
	border: 1px solid #000080;
	padding: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 3px 3px #000080;
	-webkit-box-shadow: 0 0 3px 3px #000080;
	box-shadow: 0 0 3px 3px #000080;
}

.filesTable td {
	background-color: white;
	min-width: 100px;
}

.filesTable th {
	background-color: #000080;
	border-radius: 5px;
	min-width: 80px;
}

#filesTableHead {
	color: white;
}

.tableButton {
	height: 25px;
	width: 80px;
	margin-left: auto;
	margin-right: auto;
	background-color: #000080;
	color: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	font-weight: bolder;
	text-align: center;
	line-height: 25px;
	vertical-align: middle;
}

.tableButton:HOVER {
	background-color: #0000af;
	cursor: pointer;
}

.generalButtons {
	width: 100%;
}

.button {
	display: inline-block;
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}